<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ecotrack_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ecotrack_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoTrackProt"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EcoTrackProt">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".adminLogin"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EcoTrackProt"/>
        <activity android:name=".adminDashboard"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EcoTrackProt"/>
        <activity android:name=".adminResidentRecords"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EcoTrackProt"/>
        <activity android:name=".adminWasteRecords"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EcoTrackProt"/>
        <activity android:name=".adminCreateCommunityChallenge"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EcoTrackProt"/>
        <activity android:name=".CameraActivity" />
        <activity android:name=".registerResident"/>
        <activity android:name=".residentDashboard"/>
        <activity android:name=".residentLogin"/>
        <activity android:name=".residentTipsAndResources"/>
        <activity android:name=".residentCommunityChallenges"/>
        <activity android:name=".residentViewWasteHistory"/>
        <activity android:name=".residentGoal"/>



    </application>

</manifest>